:root{
    --cortado: #9D6538;
    --capuccino: #CF9F6E;
    --latte: #DABE99;
    --espresso: #652817;
    --darkcoffee: #33140A;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
}

#header-bar{
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: var(--espresso);
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow:0px 5px 5px rgba(47, 47, 47, 0.5);
}

section{
    position: relative;
}

#navbar > * {
    font-family:'Arizonia',sans-serif;
    font-size: 2rem;
    color: var(--capuccino);
    transition: color 100ms ease-in-out;
    margin-left: 1rem;
    text-decoration: none;
}

#navbar > *:hover{
    color: var(--latte);
}

#navbar > *:active{
    color: var(--cortado);
}

.simple-background-img  {
    width: 100%;
    height: 100vh;
    filter:brightness(50%) blur(3px);
}

.menu-background-img  {
    filter:blur(3px);
}

.simple-text-container{
    position: absolute;
    top:37.5%;
    text-align: center;
}

.simple-space-text{
    font-family: 'Merienda One';
    color:var(--latte);
    font-size:x-large;
}

.menu-container{
    margin-top: 4.5rem;
    width: 100%;
    position: absolute;
    top:0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 3rem;
}

.menu-container > .menu-item-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    height:4rem;
}

.menu-item-container > .menu-item-bg{
    border: 5px solid var(--cortado);
    z-index:1;
    border-radius: 2rem;
    position: absolute;
    width:80%;
    height:100%;
    background-color: var(--latte);
    filter:blur(3px) opacity(80%);
    box-shadow:5px 10px 5px rgba(47, 47, 47, 0.5);
}

.menu-item-container > .product-photo{
    z-index:2;
    border-radius: 2rem;
    width:4rem;
    height:4rem;
}

.menu-item-container > .product-photo > img{
    border-radius: 2rem;
    width:4rem;
    height:4rem;
}

.menu-item-container > .product-info{
    z-index:2;
    display: flex;
    flex-direction: row;
    font-family: 'Cookie', sans-serif;
    font-size:2.5rem;
}

.separar-derecha{
    margin-right:2rem;
}